div.highlight {
	position: relative;
}

pre>code {
	position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
}

.highlighter-rouge .highlight {
	border-radius: 3px;
}

h2 {
	margin-bottom: 25px;
	text-decoration: underline wavy #ffc83d;
  	text-underline-offset: 8px;
}