@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;700&display=swap');

.wrapper {
	font-family: 'Encode Sans', sans-serif;
	font-size: 1rem;
}

div.highlight {
	position: relative;
}

pre {
	position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 0;
}

.highlighter-rouge .highlight {
	border-radius: 3px;
}

.language-plaintext .highlighter-rouge {
	font-size: 17px;
	
}

h2 {
 padding-top: 20px;
 padding-bottom: 15px;
}

h2.underline {
	margin-bottom: 25px;
	text-decoration: underline solid #f2a142;
  	text-underline-offset: 4px;
}

.title_section {
	color: #f2b142 !important;
	margin: 10px 0;
	font-size: 21px;
}

.mrkdwn {
	color: #fcc !important;
	font-size: 1rem;
}

