div.highlight {
	position: relative;
}

pre {
	position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 0;
}

.highlighter-rouge .highlight {
	border-radius: 3px;
}

h2 {
	margin-bottom: 25px;
	text-decoration: underline solid #f2a142;
  	text-underline-offset: 4px;
}

h3 {
	color: #f2b142 !important;
}